<div class="row h-100 m-0 p-0">
  <div class="col-lg-6">
    <div class="form-side-container">
      <div class="form-header-container">
        <img src="../../../assets/images/logo.png">
        <span class="form-header-text">Welcome to Günce</span>
      </div>
      <div class="form-container">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" novalidate>
          <div class="form-group">
            <label class="form-label" for="nameSurname">Name - Surname</label>
            <div class="input-group flex-nowrap">
              <span class="input-group-text"><i class="bi bi-person-fill"></i></span>
              <input type="text" class="form-control" formControlName="nameSurname" name="nameSurname"
                placeholder="Enter name - surname">
            </div>
          </div>
          <div class="form-group mt-3">
            <label class="form-label" for="username">Username</label>
            <div class="input-group flex-nowrap">
              <span class="input-group-text"><i class="bi bi-person-circle"></i></span>
              <input type="text" class="form-control" formControlName="username" name="username"
                placeholder="Enter username">
            </div>
          </div>
          <div class="form-group mt-3">
            <label class="form-label" for="nameSurname">Email</label>
            <div class="input-group flex-nowrap">
              <span class="input-group-text"><i class="bi bi-envelope"></i></span>
              <input type="email" class="form-control" formControlName="email" name="email" placeholder="Enter Email">
            </div>
          </div>
          <div class="form-group mt-3">
            <label class="form-label" for="password">Password</label>
            <div class="input-group flex-nowrap">
              <span class="input-group-text password-icon-container">
                <i *ngIf="showPassword" (click)="changePasswordVisibility()" class="bi bi-eye-fill"></i>
                <i *ngIf="!showPassword" (click)="changePasswordVisibility()" class="bi bi-eye-slash-fill"></i>
              </span>
              <input [type]="!showPassword ? 'password' : 'text'" name="password" class="form-control"
                formControlName="password" placeholder="Password">
            </div>
          </div>
          <div class="register-button-container mt-4">
            <button class="btn btn-block fa-lg register-button" type="submit"
              [disabled]="!registerForm.valid">REGISTER</button>

            <div class="d-flex align-items-center justify-content-center">
              <p class="go-to-register-text">Alreay have an account? <span role="button" (click)="goToLogin()"
                  class="link-info">Go to Login</span></p>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-lg-6 card-info-container">
    <div class="card-info-text-container">
      <span class="card-info-title">We are more than just a company</span>
      <span class="card-info-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis minima
        suscipit modi dolor voluptates vitae ratione saepe, tempore culpa sapiente consequuntur architecto neque officia
        laudantium rerum doloribus quam dolorem aliquid!</span>
    </div>
  </div>
</div>