<div class="site-header-container">

  <div class="header-tabs-container">
    <div class="header-site-title-container">
      <span [routerLink]="['/calendar']"><img src="../../../assets/images/logo.png"></span>
    </div>
    <div [routerLink]="['/calendar']" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active"
      class="header-tab">Calendar</div>
  </div>
  <div class="header-icon-container">
    <!-- <i *ngIf="!isDarkMode" (click)="changeToDarkMode(true)" class="bi bi-moon-stars ms-2"></i>
    <i *ngIf="isDarkMode" (click)="changeToDarkMode(false)" class="bi bi-moon-stars-fill ms-2"></i> -->
    <div class="header-profile-container" (click)="logout()">
      <i class="bi bi-person-circle"></i>
    </div>
  </div>
</div>