<div class="site-header-container">

  <div class="header-tabs-container">
    <div class="header-site-title-container">
      <span>LOGO</span>
    </div>
    <div [routerLink]="['/calendar']" routerLinkActive="active" class="header-tab">Calendar</div>
    <div [routerLink]="['/home']" routerLinkActive="active" class="header-tab">Home</div>
  </div>
  <div class="header-icon-container">
    <i *ngIf="!isDarkMode" (click)="changeToDarkMode(true)" class="bi bi-moon-stars ms-2"></i>
    <i *ngIf="isDarkMode" (click)="changeToDarkMode(false)" class="bi bi-moon-stars-fill ms-2"></i>
    <div class="header-profile-container">
      <i class="bi bi-person-circle"></i>
    </div>
  </div>
</div>