@import "../../../assets/styles/colors";

.button-container {
  padding: 0.5rem 2rem;
  border-radius: 10px;
  background: transparent;

  &.button-container:hover {
    transition: 0.5s background-color;
  }

  &.rounded-button {
    border-radius: 30px;
  }

  .button-text {
    font-size: 18px;
    font-weight: 600;
  }

  &.filled {
    &.blue {
      border: 2px solid getColor(primary-color);
      background-color: getColor(primary-color);
      .button-text {
        color: getColor(white-color);
      }
    }

    &.red {
      border: 2px solid getColor(danger-color);
      background-color: getColor(danger-color);
      .button-text {
        color: getColor(white-color);
      }
    }

    &.yellow {
      border: 2px solid getColor(warning-color);
      background-color: getColor(warning-color);
      .button-text {
        color: getColor(white-color);
      }
    }

    &.green {
      border: 2px solid getColor(success-color);
      background-color: getColor(success-color);
      .button-text {
        color: getColor(white-color);
      }
    }
  }

  &.outline {
    &.blue {
      border: 2px solid getColor(primary-color);
      .button-text {
        color: getColor(primary-color);
      }
    }

    &.blue:hover {
      background-color: getColor(primary-color);
      .button-text {
        color: getColor(white-color);
      }
    }

    &.red {
      border: 2px solid getColor(danger-color);
      .button-text {
        color: getColor(danger-color);
      }
    }

    &.red:hover {
      background-color: getColor(danger-color);
      .button-text {
        color: getColor(white-color);
      }
    }

    &.yellow {
      border: 2px solid getColor(warning-color);
      .button-text {
        color: getColor(warning-color);
      }
    }

    &.yellow:hover {
      background-color: getColor(warning-color);
      .button-text {
        color: getColor(white-color);
      }
    }

    &.green {
      border: 2px solid getColor(success-color);
      .button-text {
        color: getColor(success-color);
      }
    }

    &.green:hover {
      background-color: getColor(success-color);
      .button-text {
        color: getColor(white-color);
      }
    }
  }
}
