<nz-calendar (nzSelectChange)="selectedChanged($event)">
  <ul *nzDateCell="let date" class="events">
    <ng-container [ngSwitch]="date">
      <ng-container *ngSwitchCase="8">
        <li *ngFor="let item of listDataMap.eight">
          <nz-badge [nzStatus]="item.type" [nzText]="item.content"></nz-badge>
        </li>
      </ng-container>
      <ng-container *ngSwitchCase="10">
        <li *ngFor="let item of listDataMap.ten">
          <nz-badge [nzStatus]="item.type" [nzText]="item.content"></nz-badge>
        </li>
      </ng-container>
      <ng-container *ngSwitchCase="11">
        <li *ngFor="let item of listDataMap.eleven">
          <nz-badge [nzStatus]="item.type" [nzText]="item.content"></nz-badge>
        </li>
      </ng-container>
    </ng-container>
  </ul>
</nz-calendar>