.calendar-events {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 3rem;

  .calendar-list-item-container-Diary,
  .calendar-list-item-container-Reminder,
  .calendar-list-item-container-Note {
    border-radius: 10px;
    color: white;
    padding: 0 1rem;
    margin-bottom: 0.5rem;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
  }

  .calendar-list-item-container-Diary {
    background-color: #423885;
  }

  .calendar-list-item-container-Reminder {
    background-color: #28b573;
  }

  .calendar-list-item-container-Note {
    background-color: #3a8add;
  }
}
